@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

button:hover {
    background-color: deeppink;
    cursor: pointer;
}

.first {
    overflow:hidden;
    margin-right: 5%;
    margin-left: 5%;
}

#welcome_header {
    position: absolute;
    color: black;
    margin-left: 25%;
    margin-top: -19%;
}

#first_image {
    height: 350px;
    width: 100%
}

#first_image {
    opacity: 0.6;
}

#second_header,
#third_header,
#lastSection{
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
}

#lastSection {
    background-color: grey;
    border-style: dashed;
    border-top-color: grey;
}

#second_header {
    color: white;
    background-color: lightgrey;
    border-style: dashed;
}

#third_header {
    color: black;
    background-color: grey;
    border-style: dashed;
    border-bottom-color: grey;
    margin-bottom: 0;
}

#Female {
    margin-left: 25px;
}

#Other {
    margin-left: 12px;
}

#all_three {
   /* text-align: left;*/
    font-weight: bold;
}

#gluten {
    text-align: left;
    font-weight: bold;
}

#egg {
    text-align: left;
    font-weight: bold;
}

#_A {
    text-align: left;
    margin-left: 100px;
}

#SelectedOrder{
    color: black;
}

#ordersList{
    color: black;
    margin-right: 10px;
}

#grid {
    display: grid;
    grid-template-areas: "a a a";
    grid-auto-columns: 3fr;
}

